.topLayer{
    z-index: 1;
    position: absolute;
}


html, head, body{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.mapboxgl-popup-content{
    background-color: wheat !important;
    border-radius: 15px !important;
    opacity: .9 !important;

}

/* zoom controls */
.mapboxgl-ctrl-top-left {
    left: 0;
    top: 0;
    /* margin-left: 36vw; */
    margin-left: calc(2em + 30vw + 36px);
    margin-top: 2em;
}

.mapboxgl-ctrl-bottom-left{
    display: none;
}

#homeButton{
    z-index: 99;
    position: absolute;
    top: 0;
    margin-left: calc(2em + 30vw + 36px);
    margin-top: 8em;
    cursor: pointer;
}


@media only screen  and (max-width: 1200px){
    #resetButton{
        margin: 14em 0px 0px 422px !important
    }

    #openTutorial{
        margin: 32px 0px 0px 468px !important;
     }

    .mapboxgl-ctrl-top-left{
        margin: 2em 0px 0px 420px !important;
    }

    #expandDataButton{
        border-radius: 15px;
        font-size: 1.25em !important;
        position: absolute;
        text-align: center;
        border-color: #321479;
        background-color: #785BBC;
        width: 3em !important;
        border-style: solid;
        height: 2.5em !important;
        border-width: thick;
        color: ivory;
        position: absolute;
        margin-top: .1em !important;
        margin-left: 10.85em;
        cursor: pointer;
    }

    #homeButton{
        margin: 128px 0px 0px 428px !important;
    }
}

/* MOBILE VERSION */
@media (max-width: 800px){
    #mapTitle{
        display: none;
    }
    #infoPanel{
        display: none !important;
    }
    #orchardContainer {
        bottom: 0 !important;
        right: 0 !important;
        top: auto !important;
        left: auto !important;
        margin-bottom: 2em !important;
        margin-right: 2em !important;
        position: absolute !important;
        border: .5em solid #321479 !important;
        background-color: #9F87D6 !important;
        height: 20em !important;
        width: 5em !important;
        min-width: 0 !important;
        display: flex !important;
        flex-direction: column !important;
        transition: height 0.3s ease !important;
        overflow: hidden !important;
    }

    #filterTab {
        height: 20em !important;
        position: absolute !important;
        width: 100% !important;
        background-color: #9F87D6 !important;
        display: flex !important;
        flex-direction: column !important; 
    }

    #orchardGrouped{
        display: none !important;
    }

    #expandSeperator{
        display: none !important;
    }

    .mapboxgl-ctrl-top-left{
        display: none;
    }

    .mapboxgl-ctrl-bottom-left{
        display: block;
    }

    #resetButton {
        position: absolute;
        right: 0;
        bottom: 0;
        top: auto !important;
        left: auto !important;
        margin-right: 4em !important;
        margin-bottom: 28em !important;
        background-color: #5D3DA8;
        color: ivory;
        cursor: pointer;
        z-index: 15;
    }

    #homeButton{
        z-index: 99;
        position: absolute;
        bottom: 0;
        top: auto !important;
        margin-left: 3.5em !important;
        margin-bottom: 2.5em !important;
        cursor: pointer;
    }

    #openTutorial {
        position: absolute;
        bottom: 0;
        top: auto !important;
        margin-left: 3.5em !important;
        margin-bottom: 5.75em !important;
        cursor: pointer;
    }
    
}


@media only screen and (max-width: 1000px){


    #breedContent{
        height: 26.5em !important;
        width: 100%;
        margin-top: 1.75em;
    }

    #infoPanel {
        right: 0;
        top: 0;
        position: absolute;
        margin: 25px;
        width: 16em !important;
        height: 16em !important;
        background-color: #785BBC;
        border: 8px #321479 solid;
        display: flex;
        flex-direction: column;
    }

    #breedSelector{
        position: fixed;
        z-index: 999;
        border: 8px solid #321479;
        background-color: #9F87D6;
        display: flex;
        width: 35em !important;
        height: 30em !important;
        margin-top: 2em;
        max-width: 800px;
        max-height: 560px; 
    }
}


/* @media only screen and (max-height: 600px){
    
} */

.mapboxgl-popup-tip{
    /* background-color: wheat !important; */
    border-top-color: wheat !important;
    opacity: .9 !important;

}

.lightBackground{
    background-color: #9F87D6 !important;
}

h1{
    font-size: 24px;
    margin: 0;
}

p{
    margin: 0;
}

#mapContainer{
    position: relative;
    height: 100%;
}

#map{
    height: 100%;
    z-index: 0;
    position: relative;
    cursor: pointer !important;
}

#mapTitle{
    left: 0;
    top: 0;
    margin-left: 2em;
    margin-top: 2em;
    height: fit-content;
    width: 30vw;
    max-width: 600px;
    min-width: 360px;
    position: absolute;
    background-color: #785BBC;
    border: 8px;
    border-color: #321479;
    border-style: solid;
}

.mainTitle{
    font-size: 2.5em;
    color: ivory;
    text-align: center;
    font-family: "Times New Roman", Times, serifs;
    padding: 10px;

}


#howTo{
    position: fixed;
    inset: 0px;
    width: 1000px;
    height: 650px;
    margin: auto;
    border: 8px;
    background-color: #9F87D6;
    border-color: #321479;
    border-style: solid;
    padding: 10px;
    display: none;
    z-index: 999;
}

.largePopup {
    position: fixed;
    z-index: 999;
    border: 8px solid #321479;
    background-color: hsl(258, 49%, 68%);
    display: flex;
    width: 50em;
    height: 35em;
    margin-top: 2em;
    max-width: 800px;
    max-height: 560px;
}

/* #breedSelectContainer{
    display: flex;
    justify-content: center;
} */

.flexContainer{
    display: flex;
    justify-content: center;
}

.breedName{
    color: ivory;
    right: 0;
    position: absolute;
    /* font-size: 1.25em; */
    top: 25%;
    cursor: pointer
}


.breedItem {
    flex: 0 0 32.25%;
    height: 4em;
    border-bottom: 2px ivory solid;
    border-radius: 0%;
    box-sizing: border-box;
    position: relative;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: ivory;
    right: 0;
    font-size: 1.25em;
    top: 25%;
    cursor: pointer
}
  
/* Hide the browser's default checkbox */
.breedItem input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: .5em;
}

/* On mouse-over, add a grey background color */
.breedItem:hover input ~ .checkBox {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.breedItem input:checked ~ .checkBox {
    background-color: #5D3DA8;
}

/* Create the checkBox/indicator (hidden when not checked) */
.checkBox:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkBox when checked */
.breedItem input:checked ~ .checkBox:after {
    display: block;
}
  
/* Style the checkBox/indicator */
.breedItem .checkBox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#breedContent {
    height: 31.5em;
    width: 100%;
    margin-top: 1.75em;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    column-gap: 8px;
    box-sizing: border-box;
}

#dataContent {
    height: 31.5em;
    width: 100%;
    margin-top: 1.75em;
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    column-gap: 8px;
    box-sizing: border-box;

}

#exitButton{
    height: 2em;
    width: 4em;
    /* border: solid 5px #321479; */
    background-color: #9F87D6;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.closeButton{
    right: 0;
    position: absolute;
    background-color: #9F87D6;
    color: ivory;
    height: 2em;
}

#clearBreed{
    position: absolute;
    right: 0;
    margin-right: 5em;
    height: 2em;
    background-color: #9F87D6;
    color: ivory;
}


#applyBreed{
    position: absolute;
    right: 0;
    height: 2em;
    background-color: #9F87D6;
    color: ivory;
}

#closeContainer{
    height: 1.75em;
    width: 100%;
    background-color: #321479;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

#counterContainer{
    height: 1.5em;
    width: 15em;
    position: absolute;
    text-align: center;
    display: flex;
    gap: 1em;
    justify-content: center;
}

#count, #countText{
    color: ivory;
}

#commandsContainer{
    height: 1.75em;
    width: 100%;
    bottom: 0;
    background-color: #321479;
    position: absolute;
}

#openTutorial{
    position: absolute;
    top: 0;
    margin-left: calc(4.5em + 30vw + 36px);
    margin-top: 2em;
    cursor: pointer;
}


.tutorialImage{
    height: 100%;
    width: 100%;
}

#text1{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    height: 100px;
    width: 450px;
    margin-top: 100px;
    height: 200px;
}

#text2{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 350px;
}

#img1{
    height: 350px;
    width: 450px;
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
}

#img2{
    width: 225px;
    height: 350px;
    right: 0;
    position: absolute;
    margin-bottom: 10px;
    margin-right: 275px;
    bottom: 0;
}


#img3{
    position: absolute;
    height: 200px;
    width: 490px;
    right: 0;
    margin-right: 10px;
    top: 0;
    margin-top: 100px;
}

#greyMask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.6);
    z-index: 10;
    display: none;
}

#infoPanel {
    right: 0;
    top: 0;
    position: absolute;
    margin-top: 2em;
    margin-right: 2em;
    width: 25em ;
    height: 20em;
    background-color: #785BBC;
    border: 8px #321479 solid;
    display: flex;
    flex-direction: column;
}

#clearPanel{
    top: 0;
    right: 0;
    position: absolute;
    margin-right: 350px;
    margin-top: 18px;
    display: none;
    cursor: pointer;
}

#expandButton{
    font-size: 36px;
    color: ivory;
    cursor: pointer;
    margin: auto;
}

#exportDataButton{
    border-radius: 15px;
    font-size: 1.25em !important;
    text-align: center;
    border-color: #321479;
    background-color: #785BBC;
    width: 3em !important;
    border-style: solid;
    height: 2.5em !important;
    border-width: thick;
    color: ivory;
    cursor: pointer;
    margin: auto;
}

#orchardContainer{
    top: 0;
    left: 0;
    position: absolute;
    border: .5em solid #321479;
    background-color: #9F87D6;
    margin-left: 2em;
    margin-top: 8em;
    height: 4em;
    width: 30vw;
    min-width: 360px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease;
    overflow: hidden;
}


#orchardGrouped::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 100%; /* Height of the scrollbar */
    background: #785BBC; /* Color of the track */
    position: absolute;

}

#orchardGrouped::-webkit-scrollbar-thumb {
    background-color: #9F87D6; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners */
    border: 3px solid #785BBC; /* Border around the thumb */
    height: 10px;
}

#orchardGrouped{
    overflow-y: scroll; 
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 4em;
    border-top: solid 8px;
    border-color: #321479;
    display: flex;
    flex-direction: column;
    row-gap: .10em;
}

.orchardPanel{
    height: 125px;
    width: 100%;
}

.panelName{
    color: ivory;
    text-align: center;
    font-size: 32px;
    border-bottom: 3px solid ivory;
    font-family: "Times New Roman", Times, serif
}

.panelText{
    padding-left: 10px;
    color: ivory;
    padding-top: 10px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif
}

.howToText{
    color: ivory;
    padding-top: 10px;
    text-align: left;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif
}

.howToTitle{
    color: ivory;
    padding-top: 10px;
    text-align: left;
    font-size: 50px;
    text-align: center;
    font-family: "Times New Roman", Times, serif
}

/* This is the divs populating orchardContainer */
.scrollInfo{
    border-color: #321479;
    border-style: outset;
    border-width: .25em;
    border-radius: 10px;
    background-color: #785BBC;
    display: flex;
    flex-direction: column;
    max-height: 10em;
    min-height: 10em;
    overflow: hidden;
}

.selectedOrchard{
    background-color: #9F87D6;
    border-style: inset;
}


.containerOrchardName{
    color: ivory;
    direction: ltr;
    margin-left: .5em;
}

.containerOrchardText{
    color: ivory;
    direction: ltr;
    font-size: 1.15em;
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    margin-top: .25em;
    gap: .5em;
}

#filterTab{
    height: 4em;
    position: absolute;
    width: 100%;
    background-color: #9F87D6;
    display: flex;
}

#searchBar{
    bottom: 0;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 10px;
}

.stateFilter {
    font-size: 1.5em;
    border-radius: 15px;
    text-align: center;
    border-color: #321479;
    border-style: outset;
    background-color: #785BBC;
    width: 2.5em;
    height: 2em;
    border-width: thick;
    color: ivory;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
}

#oregonDark{
    position: absolute;
    display: inline;
}

#washDark{
    position: absolute;
    display: inline;
}

#breedFilter {
    border-radius: 15px;
    font-size: 1.25em !important;
    text-align: center;
    border-color: #321479;
    background-color: #785BBC;
    width: 3em !important;
    border-style: solid;
    height: 2.5em !important;
    border-width: thick;
    color: ivory;
    cursor: pointer;
    margin: auto;
}


#resetButton {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 14em;
    margin-left: calc(2em + 30vw + 36px);
    background-color: #5D3DA8;
    color: ivory;
    cursor: pointer;
    z-index: 15;
}

#expandSeperator{
    height: 4em;
    width: .5em;
    background-color: #321479;
    z-index: 14;
    margin: auto;
}

.infoAddress{
    color: ivory;
}

.inactiveButton{
    background-color: gray !important;
    border-color: darkslategray !important;
    cursor: not-allowed !important;
}

#searchInput{
    border-radius: 10px;
    width: 200px;
    height: 20px;
    border: solid 5px #321479;
    background: #9F87D6;
    color: ivory;
}

::placeholder {
    color: ivory;
  }

.htmlBreeds {
    color: ivory;
    margin-left: .5em;
    font-size: 1.25em;
    flex-grow: 1;
    overflow-y: hidden;
    margin-bottom: 1em;
}

.containerBreeds{
    cursor: pointer;
}

#closeList{
    position: absolute;
}

#breedListContainer{
    display: flex;
    justify-content: center;
}

#breedList{
    color: ivory;
    margin-top: 1.5em;
    margin-left: 1em;
    font-size: 1.25em;
    padding-bottom: 1em;
}

#listContent{
    z-index: 999;
    display: flex;
    position: fixed;
    border: 8px solid #321479;
    background-color: #9F87D6;
    width: 40em;
    height: fit-content;
    margin-top: 2em;
    max-width: 800px;
    max-height: 560px;
}

#closeList{
    color: ivory;
    background-color: #9F87D6;
    top: 0;
    right: 0;
    position: absolute;
}